################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/IronShop/IronShop.Api/bin/Debug/netcoreapp2.1
/Backend/IronShop/.vs/IronShop/v15
/Backend/IronShop/IronShop.Api/obj
/Backend/IronShop/.vs/IronShop/DesignTimeBuild
/Backend/IronShop/.vs/config
/Backend/IronShop/IronShop.Api/log.txt
/Backend/IronShop/.vs/IronShop/config
/Backend/IronShop/.vs/IronShop/v16/Server/sqlite3
/Backend/IronShop/.vs/IronShop/v16
