################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/IronShop/IronShop.Api/bin/Debug/netcoreapp2.1
/Backend/IronShop/.vs/IronShop/v15
/Backend/IronShop/IronShop.Api/obj
/Backend/IronShop/.vs/IronShop/DesignTimeBuild
/Backend/IronShop/.vs/config
