<div class="row">

    <div class="card card-body">
        <h3 class="box-title m-b-0">Product</h3>
        <p class="text-muted m-b-30 font-13"> Create </p>

        <form ngNativeValidate #productForm="ngForm" (ngSubmit)="create(productForm)">
            <div class="row">
                <div class="col-sm-8 col-xs-8">
                    <div class="form-group">
                        <label for="title">Title*</label>
                        <input type="text" class="form-control" [(ngModel)]="product.title" id="title" name="title" placeholder="Enter title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description*</label>
                        <textarea class="form-control" [(ngModel)]="product.description" id="description" name="description" placeholder="Enter description" rows="2" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category">Category*</label>
                        <input type="text" class="form-control" [(ngModel)]="product.category" id="category" name="category" placeholder="Enter category" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price*</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', allowNegative : false, precision: 2 }" class="form-control" [(ngModel)]="product.price" name="price" id="price" aria-label="Amount" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <div class="form-group text-center">
                        <label for="image" class="w-100">Upload Image</label>
                        <img *ngIf="!pictureTemp" [src]="'' | image" class="w150" />
                        <img *ngIf="pictureTemp" [src]="pictureTemp" class="w150" />
                        <input type="file" class="form-control" (change)="onSelectPicture($event.target.files[0])" id="image" name="image" aria-describedby="fileImage">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="button" class="btn btn-inverse waves-effect waves-light" (click)="back()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>