<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">Filters</h6>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Enter title" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Enter category" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-success"><i class="fa fa-search"></i> </button>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>

<!-- <div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Loading</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Wait please</span>
        </div>
    </div>
</div> -->

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-10">
                        <h3 class="card-title">Products( <small>10</small> )</h3>
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">Create</button>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <th>Picture</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w70">
                                <!-- <img (click)="showModalUploadPicture(user)" [src]="user.imageFileName | image" class="img-50 imag-circle pointer" /> -->
                            </td>
                            <td>Product 1</td>
                            <td>Category</td>
                            <td>10.50</td>
                            <td>
                                <button class="btn btn-primary m-1">
                                  <i class="fa fa-edit"></i>
                              </button>

                                <button class="btn btn-danger m-1">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                        <!-- <tr *ngFor="let user of users">
                            <td class="w70">
                                <img (click)="showModalUploadPicture(user)" [src]="user.imageFileName | image" class="img-50 imag-circle pointer" />
                            </td>
                            <td>{{user.email}}</td>
                            <td>{{user.fullName}}</td>
                            <td>
                                <select class="form-control" [(ngModel)]="user.role">
                                  <option value="ADMIN">Admin</option>
                                  <option value="USER">User</option>
                              </select>
                            </td>
                            <td>
                                <label *ngIf="user.googleAuth" class="label label-danger">Google</label>
                                <label *ngIf="!user.googleAuth" class="label label-info">Normal</label>
                            </td>
                            <td>
                                <button class="btn btn-primary">
                                  <i class="fa fa-save"></i>
                              </button>
                                <button class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>

                <div class="text-right">
                    <button class="btn btn-secondary">
                Previous
              </button>
                    <button class="btn btn-secondary">
                  Next
                </button>
                </div>

            </div>
        </div>
    </div>

</div>