<div class="row fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Profile</h4>
                <h6 class="card-subtitle">Update personal data</h6>
                <form ngNativeValidate #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm)" class="form-horizontal p-t-20">
                    <div class="form-group row">
                        <label for="fullName" class="col-sm-3 control-label">Fullname*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input [(ngModel)]="userFullName" name="fullName" type="text" class="form-control" id="fullName" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 control-label">Email*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input [(ngModel)]="userEmail" [disabled]="googleAuth" name="email" type="email" class="form-control" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="role" class="col-sm-3 control-label">Role*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-lock"></i></div>
                                <input [ngModel]="userRole" name="role" type="text" class="form-control" id="role" readonly="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-block btn-success waves-effect waves-light">
                              <i class="fa fa-save"></i>
                              Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title">Profile Picture</h4>
                <h6 class="card-subtitle">Pic!</h6>
                <form class="form-horizontal p-t-20">

                    <img *ngIf="!pictureTemp" [src]="fileNamePicture | image" class="w150" />
                    <img *ngIf="pictureTemp" [src]="pictureTemp" class="w150" />

                    <div class="form-group">
                        <label>Upload pic</label>
                        <input (change)="onSelectPicture($event.target.files[0])" type="file" class="form-control" id="image" aria-describedby="fileHelp">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success waves-effect waves-light" (click)="uploadProfile()" [disabled]="!picture">
                                <i class="fa fa-save"></i>
                                Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>